.mama{
    width: 700px;
    height: 700px;
    margin: 0 auto;
    border-radius: 20%;
    background: rgb(64,0,255);
    background: linear-gradient(120deg, rgba(64,0,255,1) 0%, rgba(222,0,255,1) 40%, rgba(255,128,0,1) 90%);
}
.sun1{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border-radius: 20%;
    background-color: white;
    position: relative;
    top: 100px;
}
.sun2{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 20%;
    background: rgb(64,0,255);
    background: linear-gradient(120deg, rgba(64,0,255,1) 0%, rgba(222,0,255,1) 40%, rgba(255,128,0,1) 90%);
    position: relative;
    top: 50px;
}
.sun3{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: white;
    position: relative;
    top: 50px;
}
.sun4{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 100%;
    background: rgb(64,0,255);
    background: linear-gradient(120deg, rgba(64,0,255,1) 0%, rgba(222,0,255,1) 40%, rgba(255,128,0,1) 90%);
    position: relative;
    top: 50px;
}
.sun5{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 790px;    
    top: 180px;
    z-index: 5;
}